@import '../../assets/styles/variables.scss';
.header {
  padding: 0 40px;
  background: $blue5;
  .ant-avatar {
    margin-left: 16px;
    background: $black;
    i {
      color: $white;
    }
  }
  >div {
    padding: 15px 0;
    i {
      color: $black;
    }
    h1 {
      margin: 0 0;
    }
  }
  .rightMenu {
    text-align: right;
    button {
      i {
        font-size: 20px;
        color: $textColor;
      }
    }
  }
  @media (max-width: $sm) {
    padding: 0 20px;
  }
}