@import '../../assets/styles/mixins.scss';
.ant-card {
  margin: 16px 0 !important;
  .ant-card-cover {
    background: #fff;
    border-bottom: 1px solid #eee;
    height: 275px;
    overflow: hidden;
    cursor: pointer;
    img {
      width: 100%;
      height: auto;
    }
  }
  .ant-card-body {
    padding: 12px !important;
    // height: 110px;
    .ant-card-meta-description {
      @include textTruncate(13px, 18px, 3);
    }
  }
  .ant-card-actions {
    >li {
      margin: 6px 0;
      cursor: pointer;
    }
  }
}