@import '../../assets/styles/mixins.scss' , '../../assets/styles/variables.scss';
.productCard {
  max-width: 350px;
  margin: 0 auto 24px auto;
  cursor: pointer;
  .productImg {
    height: 300px;
    overflow: hidden;
    border: 1px solid #eee;
    background-color: #fcfcfc;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .productDesc {
    margin: 8px;
    .price {
      font-size: 18px;
      color: $black;
    }
    .description {
      @include textTruncate(14px, 18px, 2);
      margin-top: 8px;
    }
  }
}