@import '../../assets/styles/variables.scss';
.productFilter {
  width: 50vw;
  margin: 0 auto;
  .searchBar {
    height: 75px;
    margin: -40px auto 10px auto;
    background-color: #fff;
    border: 1px solid #fafafa;
    box-shadow: 0 5px 16px 3px rgba(200,200,200, .2);
    border-radius: 50px;
    display: flex;
    align-items: center;
    transition: .2s all ease-in-out;
    &:hover, &:focus {
      box-shadow: 0 7px 16px 3px rgba(200,200,200, .3);
    }
    .inputFilter {
      border-right: 1px solid #eee;
      i {
        position: absolute;
        top: 25px;
        left: 20px;
        font-size: 22px;
        cursor: pointer;
      }
      input {
        border-color: transparent;
        width: 100%;
        height: 72px;
        outline: none;
        border-radius: 50px;
        font-size: 16px;
        padding: 0 15px 0 50px;
      }
    }
    .sortSelect {
      margin-top: 15px;
      padding: 0 15px;
      label {
        font-size: 13px;
        line-height: 0 !important;
        color: #888;
      }
      .ant-select {
        width: 100%;
        line-height: 0 !important;
        .ant-select-selection {
          border-color: transparent;
          border-radius: 50px;
          &:focus, &:hover {
            border-color: transparent !important;
          }
          .ant-select-selection__rendered {
            margin: 0 !important;         
            line-height: 20px;
          }
          .ant-select-arrow {
            margin-top: -10px;
          }
        }
      }
    }
  }
  .extraFilters {
    margin: 0 5px;
    p {
      margin: 5px 0 !important;
    }
    .formGroup {
      display: inline-block;
      width: 50%;
      overflow: hidden;
      label {
        margin-right: 5px;
      }
      input {
        display: inline-block;
        outline: none;
        max-width: 70px;
      }
    }
  }
}
@media (max-width: $sm) {
 .productFilter {
   width: 75vw;
 }   
}