.roundBorderSelect {
  .ant-select-selection {
    border-radius: 50px !important;
  }
}
.imgResponsive { 
  width: 100% !important;
  height: auto !important; 
}
.floatRight {
  float: right !important;
}
.floatLeft {
  float: left !important;
}
.mAuto {
  margin: 0 auto;
}