@import "./variables.scss"; 
.roundBorderSelect {
  .ant-select-selection {
    border-radius: 50px !important;
  }
}
.imgResponsive { 
  width: 100% !important;
  height: auto !important; 
}
.floatRight {
  float: right !important;
}
.floatLeft {
  float: left !important;
}
.mAuto {
  margin: 0 auto;
}
.dNone {
  display: none !important;
}
.btnPrimary {
  background-color: $black !important;
  border-color: $black !important;
  &:focus, &:hover {
    box-shadow: 0 0 2px 4px rgba(230,230,230,.2) !important;
  }
  &.hoverStyle {
    &:hover {
      background-color: transparent !important;
      color: $black !important;
    }
  }
}
.btnTransparent {
  background-color: transparent !important;
  color: $black !important;
  border-color: $black !important;
  outline: none !important;
  &:focus, &:hover {
    box-shadow: 0 0 2px 4px rgba(230,230,230,.2) !important;
  }
}
