@import '../../assets/styles/variables.scss'; 
.homePage {
  overflow: hidden;
  .loader {
    margin: 20px 0 auto;
    text-align: center;
    h3 {
      margin-top: 16px;
    }
    .anticon {
      display: block;
      font-size: 40px;
    }
  }
  .ant-alert {
    margin-top: 50px;
    max-width: 50vw;
  }
  [class*=ant-alert-] {
    word-break: break-all;
  }
  @media (min-width: $lg) {
    .ant-col-xl-4 {
      width: 20%;
    }
  }
}