@import '../../assets/styles/variables.scss'; 
.homePage {
  overflow: hidden;
  .loader {
    margin-top: 60px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .anticon {
      display: block;
      font-size: 40px;
    }
  }
  @media (min-width: $lg) {
    .ant-col-xl-4 {
      width: 20%;
    }
  }
}